/pip-services-devenv

/pip-services-email-node
/pip-clients-email-node

/pip-services-activities-node
/pip-clients-activities-node

/pip-services-users-node
/pip-clients-users-node

/pip-services-passwords-node
/pip-clients-passwords-node

/pip-services-roles-node
/pip-clients-roles-node

/pip-services-sessions-node
/pip-clients-sessions-node

/pip-services-settings-node
/pip-clients-settings-node
